[Unit]
Description=bmirussian.ru web-site

[Service]
WorkingDirectory=/var/bmirussian_ru/
ExecStart=/usr/bin/dotnet /var/bmirussian_ru/BMIRussian_ru.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=bmirussian_ru
User=sibvic
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
